:root {
    --black: #121212;
    --darkgray: #5f6368;
    --main: rgb(43, 42, 51);
    --purple: #BB86FC;
}

* {
    margin: 0;
    padding: 0;
    color: white;
}

.body {
    height: 100vh;
}

.container {
    display: grid;
    grid-template-columns: 1.5fr 4fr 2fr;
    text-align: center;
    height: 100%;
    background-color: var(--main);
}

.header {
    display: grid;
    grid-column: 2 / 4;
    gap: 150px;
    background-color: #0A0A0A;
    grid-template-rows: 1fr 1fr;
    padding-right: 50px;
}

.menu {
    display: grid;
    grid-row: 1 / 3;
}

.menu ul {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr 1fr 1fr;
}

input {
    height: 2rem;
    width: 90%;
    border-radius: 20px;
    border: none;
    background-color: #5f6368;
    opacity: 70%;
}

input:focus {
    outline: none;
}

.menu li {
    align-self: center;
}

.menu li:nth-child(1) {
    display: grid;
    justify-self: center;
    align-self: center;
    padding: 5px 0 0 50px;
}

.menu li:nth-child(2) {
    display: grid;
    width: 100%;
}

.menu li:nth-child(3) {
    display: grid;
    justify-self: end;
}

.menu li:nth-child(4) {
    padding-left: 70px;
}

.menu li:nth-child(5) {
    display: grid;
    justify-self: start;
    font-weight: bold;
}

.menu li:nth-child(6) {
    display: grid;
}

menu li:nth-child(7) {
    padding-right: 80px;
    font-weight: bold;
}


.user {
    display: grid;
    grid-column: 1 / 3;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 1fr;
}

.user span {
    grid-row: 1 / 3;
    padding-left: 80px;
}

.user p {
    display: grid;
    justify-self: start;
}

.user :nth-child(3) {
    font-size: larger;
    font-weight: bolder;
}

.menu button{
    display: grid;
    width: 80%;
    padding: 15px 30px 15px 30px;
    border-radius: 100px;
    border: none;
    justify-items: center;
    font-weight: bold;
    background-color: var(--purple);
}

.menu button:hover {
    cursor: pointer;
}

.logo {
    display: grid;
    grid-template-columns: .3fr 1fr;
    font-size: 2rem;
    font-weight: bolder;
    padding-top: 1.5rem;
}

.logo img {
    margin-top: 1.5rem;
    justify-self: end;
    height: 60px;
}

.logo div {
    justify-self: start;
    padding-top: 1.7rem;
}

.sidebar {
    display: grid;
    grid-column: 1 / 2;
    grid-row: 1 / 5;
    grid-template-rows: 180px 80px 80px 80px 80px 80px 80px 100px 80px 80px 80px;
    font-weight: bolder;
    background-color: var(--purple);
}

.side-content {
    display: grid;
    grid-template-columns: .3fr 1fr;
}

.side-content img {
    padding-left: 1rem;
    align-self: center;
    justify-self: center;
}

.side-content div {
    align-self: center;
    justify-self: start;
}

.main-content {
    display: grid;
    grid-template-columns: 1fr 1fr .7fr;
    grid-column: 2 / 4;
    margin-left: 20px;
    gap: 20px;
}

.projects {
    display: grid; 
    margin-top: 30px;
    margin-bottom: 10px;
    grid-column: 1 / 3;
    grid-row: 1 / 7;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    margin-top: 80px;
}



.card {
    display: grid;
    background-color: var(--darkgray);
    border-radius: 10px;
    padding: 0px 50px 0px 50px;
    border-left-style: solid;
    border-left-width: 10px;
    border-left-color: #BB86FC;
}

.title {
    display: grid;
    align-self: center;
    font-size: large;
    font-weight: bold;
}

.content-header{
    padding-bottom: 10px;
}

.a-container {
    display: grid;
    background-color: var(--darkgray);
    border-radius: 20px;
    gap: 15px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px 20px 10px 20px;
}

.a-container div:not(:last-child) {
    border-bottom: 1px solid var(--purple);
}

.a-card {
    display: grid;
    gap: 10px;
    padding-bottom: 10px;
}

.a-title {
    font-weight: bold;
}

.trending {
    display: grid; 
    grid-column: 3 / 4;
    margin-left: 20px;
    margin-right: 20px;
    gap: 15px;
}

.content-header {
    justify-self: start;
}

.p-title {
    grid-column: 1 / 3;
    grid-row: 1 / 2;  
    align-self: start;
}

.content-header {
    font-weight: 600;
    font-size: 1.5rem;
    margin-top: 40px;
}

 ul,
 li {
    list-style: none;
}